<div class="wrapper">
  <div id="orders-tbl">
    <table>
      <thead>
        <tr>
          <th>Номер заказа</th>
          <th><a href="/orders/locators">Локатор</a></th>
          <th>Дата последнего обновления</th>
          <th>Стоимость в рублях</th>
          <th>Стоимость в валюте заказа</th>
          <th>Количество пассажиров</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<rows.length; i++) { %>
          <tr>
            <td><%=rows[i].id %></td>
            <td><%=rows[i].locator %></td>
            <td><%=rows[i].date_insert %></td>
            <td><%=rows[i].price_rus %></td>
            <td><%=rows[i].price_сurrency %></td>
            <td><%=rows[i].amount %></td>
          </tr>
        <%} %>
      </tbody>
    </table>
    <% alert(ress) %>
  </div>
</div>
